.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.companyName {
  color: orange;
  font-size: 100px;
  margin: 0;
  padding: 0;
}

.loginTable {
  border: 2px solid orange;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.contentButton {
  border: none;
  background: none;
}

.contentIcon {
  font-size: 40px !important;
  color: white;
}

.styled-scrollbars {
  /* Foreground, Background */
  /* scrollbar-color: #999 #333; */
}
.styled-scrollbars::-webkit-scrollbar {
  width: 5px; /* Mostly for vertical scrollbars */
  height: 5px; /* Mostly for horizontal scrollbars */
}
.styled-scrollbars::-webkit-scrollbar-thumb {
  /* Foreground */
  background: #999;
}
.styled-scrollbars::-webkit-scrollbar-track {
  /* Background */
  /* background: #333; */
}
